<template>
  <div class="contact" itemscope itemtype="http://schema.org/LocalBusiness">
    <div class="contact-physical" v-if="!short">
      <div itemprop="name">Restaurant Schliessi</div>
      <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">Wildschutzweg 30</span>
        <div>
          <span itemprop="postalCode">CH-4058</span>&nbsp;
          <span itemprop="addressLocality">Basel</span>
        </div>
      </div>
    </div>
    <div class="phone">
      <strong itemprop="telephone">
        <a href="tel:+41616012420">061 601 24 20</a>
      </strong>
      <span v-if="short">/</span>
      <span v-else><br /></span>
      <span itemprop="telephone">
        <a href="tel:+764261007">076 426 10 07</a>
      </span>
    </div>
    <div class="email">
      <span itemprop="email">
        <a href="mailto:info@restaurant-schliessi.ch">info@restaurant-schliessi.ch</a>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    short: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>
.contact {
  .contact-physical {
    margin-bottom: 1em;
  }

  a {
    color: inherit;
  }

  .phone {
    a {
      text-decoration: none;
    }
  }
}
</style>

