<template>
  <footer id="footer" v-scroll-reveal>
    <div class="footer-inner boundaries">
      <div>
        <h4>Kontakt</h4>
        <component-address />
      </div>
      <div>
        <h4>Menu</h4>
        <menu-component :menuItems="main" class="menu-main" />
        <menu-component :menuItems="about" class="menu-about" />
        <menu-component :menuItems="social" class="menu-about" />
      </div>
      <div>
        <h4>Öffnungszeiten*</h4>
        <opening-hours expandPanel />
      </div>
    </div>
  </footer>
</template>

<script>
import address from '~/components/Address.vue'
import MenuComponent from '~/components/Menu.vue'
import OpeningHours from '~/components/OpeningHours.vue'
import { main, about, social } from '~/assets/menus.js'

export default {
  components: {
    'component-address': address,
    MenuComponent,
    OpeningHours
  },
  data() {
    return {
      about: about,
      main: main,
      social: social
    }
  }
}
</script>

<style lang="scss">
@import '~assets/variables.scss';

#footer {
  background-color: $colorFg;
  color: white;
  padding: 50px 3vw;
  position: relative;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  h4 {
    margin-top: 0;
    margin-bottom: 0.7em;
  }

  .footer-inner {
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: 1fr;

    @media screen and (min-width: $breakpointGrid) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .opening-hours {
    .label {
      font-size: 0.9em;
    }
  }

  .menu {
    margin-bottom: 1em;
    text-transform: uppercase;
  }
}
</style>
