<template>
  <div class="app-header">
    <logo />
    <menu-component :menuItems="main" class="menu-main" />

    <a href="javascript:;" class="link-navigation" @click.stop="openNavigation()" role="navigation">
      Menu
    </a>
  </div>
</template>

<script>
import Logo from '@/components/Logo.vue'
import MenuComponent from '@/components/Menu.vue'
import { main } from '~/assets/menus.js'

export default {
  components: {
    Logo,
    MenuComponent
  },
  data() {
    return {
      main: main,
      openNavigation: function () {
        this.$emit('navigation', true)
      }
    }
  }

}
</script>

<style lang="scss">
@import '~assets/variables.scss';

.app-header {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-top: 8vmin;
  padding-bottom: 5vmin;
  margin-bottom: 3vw;

  @media (min-width: $breakpointSmall) {
    background-color: transparent;
  }

  .logo {
    width: 160px;
    display: block;

    @media (min-width: $breakpointSmall) {
      width: 240px;
    }
  }

  .link-navigation {
    align-items: center;
    background-color: $colorBrown;
    color: white;
    display: flex;
    font-weight: bold;
    height: 70px;
    justify-content: center;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    text-decoration: none;
    transform: scale(0.8);
    transform-origin: right top;
    top: 0;
    width: 70px;

    @media (min-width: $breakpointMini) {
      transform: scale(1);
    }

    @media (min-width: $breakpointSmall) {
      display: none;
    }
  }

  .menu-main {
    display: none;
    font-size: 1.1em;
    justify-content: center;
    margin-top: 2em;

    @media (min-width: $breakpointSmall) {
      display: flex;
    }

    ul {
      align-items: center;
      display: flex;
      flex-direction: column;
      text-transform: uppercase;

      @media (min-width: $breakpointSmall) {
        flex-direction: row;
      }

      li {
        a {
          color: inherit;
          display: inline-flex;
          padding-bottom: 10px;
          padding-top: 12px;
          text-decoration: none;
          font-weight: bold;
          letter-spacing: 0.1em;
          margin: 0 12px;
          position: relative;
          background-size: auto 10px;
          background-repeat: repeat-x;
          background-position: 0 calc(100% - 1px);

          &:hover:not(.nuxt-link-exact-active) {
            animation: animatedWave 0.5s linear infinite;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' id='Squiggle-svg' xmlns:ev='http://www.w3.org/2001/xml-events' xmlns='http://www.w3.org/2000/svg' width='24' height='12' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 12' style='enable-background:new 0 0 24 12;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:#819529;stroke-width:4;%7D%0A%3C/style%3E%3Cpath class='st0' d='M0,7.3c6,0,6-2.6,12-2.6s6,2.6,12,2.6s6-2.6,12-2.6s6,2.6,12,2.6'/%3E%3C/svg%3E");
          }

          &.nuxt-link-exact-active {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' id='Squiggle-svg' xmlns:ev='http://www.w3.org/2001/xml-events' xmlns='http://www.w3.org/2000/svg' width='24' height='12' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 12' style='enable-background:new 0 0 24 12;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:#819529;stroke-width:4;%7D%0A%3C/style%3E%3Cpath class='st0' d='M0,7.3c6,0,6-2.6,12-2.6s6,2.6,12,2.6s6-2.6,12-2.6s6,2.6,12,2.6'/%3E%3C/svg%3E");
          }
        }
      }
    }
  }
}
@keyframes animatedWave {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 20px;
  }
}
</style>
