<template>
  <nuxt-link class="button" :class="[theme ? `button--${theme}` : '', this.theme ? `button--${this.theme}` : '']" :to=to>
    <div v-if="label" class="button-inner">
      <div class="icon">
        <slot name="icon">
          <svg>
            <use xlink:href="/images/orion-svg-sprite.svg#angle-right-1"></use>
          </svg>
        </slot>
      </div>
      <div class="label">
        {{ label }}
      </div>
    </div>
    <svg v-if="!label && icon">
      <use :xlink:href="`/images/orion-svg-sprite.svg#${icon}-1`"></use>
    </svg>
  </nuxt-link>
</template>

<script>
export default {
  computed: {
    classObject: function () {
      return {
        'button--icon': this.icon && !this.label
      }
    }
  },
  props: {
    to: {
      type: String,
      default: '/'
    },
    label: {
      type: String,
      default: ''
    },
    theme: {
      type: String,
      default: ''
    },
    icon: {
      type: String,
      default: 'angle-right'
    }
  }
}
</script>

<style lang="scss">
@import '~assets/variables.scss';

.button {
  background-color: $colorFg;
  color: $colorBg;
  display: inline-block;
  font-weight: bold;
  font-size: $fontSize;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  transition: 300ms ease-out;

  &.button--green {
    background-color: $colorGreen;
  }

  &.button--icon {
    height: 50px;
    display: inline-flex;
    width: 50px;

    > svg {
    }

    &:hover {
      > svg {
        animation: animatedIcon 0.5s linear infinite;
      }
    }
  }

  .button-inner {
    align-items: center;
    display: inline-flex;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    transition: 200ms ease-out;
  }

  .label {
    white-space: nowrap;
  }

  .icon {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: -100%;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &:hover {
    .button-inner {
      transform: translate3d(0, 100%, 0);
    }
  }
}
@keyframes animatedIcon {
  0% {
    transform: translate3d(0, 0, 0);
  }

  30% {
    transform: translate3d(3px, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
</style>
