<template>
  <div class="events">
    <h2>Anlässe</h2>
    <p>Sie benötigen einen ruhigen und tollen Ort für ein Teambuilding, eine Budgetbesprechung, eine Umstrukturierung oder müssen die letzten Schliffe an Ihrer Marketingstrategie anbringen? Dann kommen Sie doch einfach zu uns.</p>
    <div v-if="expanded">
      <p>Bei uns verbinden Sie Arbeit und Bewegung, im wahrsten Sinne des Wortes denn, zu uns müssen Sie spazieren. Durch den Erlenwald. Und weil es bei uns so schön ruhig ist und wir am Wasser sind, kann sich Ihr ganzes Team entspannt und effizient den Aufgaben widmen, die auf dem Programm stehen. Keine Klimaanlage, kein stinkender Besprechungsraumteppich und kein typisches Hotelcatering, keine grauen Wände, keine extremen Kosten.Stattdessen: Idylle in den Langen Erlen.</p>
      <p>Sie können das Restaurant Schliessi exklusiv für Ihr Offsite mieten. Denn in der Schliessi kann man alles, was Sie bei allen Andern auch können, einfach schöner.</p>
      <p>Nähere Informationen erhalten Sie via E-Mail an info@restaurant-schliessi.ch</p>
      <p>Nur zu, fragen kostet nix!</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    expanded: {
      type: Boolean,
      default: false
    }
  }
}
</script>

