<template>
  <nuxt-link class="logo" to="/">
    <img src="/images/logo.png" alt="Logo">
  </nuxt-link>
</template>

<script>
export default {

}
</script>

<style scoped>
.logo {
  display: block;
  width: 150px;
}
</style>
