<template>
  <nav class="menu" :class="menuClass">
    <ul>
      <li v-for="(item, i) in menuItems" :key="i">
        <nuxt-link v-if="item.path" :to="item.path">
          {{ item.label }}
        </nuxt-link>
        <a v-if="item.url" :href="item.url" target="_blank" rel="noopener" :title="item.label">{{ item.label }}</a>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  props: {
    menuItems: {
      type: Array,
      default: null
    },
    menuClass: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    a {
      display: block;
    }
  }
}
</style>
