<template>
  <aside id="navigation">
    <logo />
    <div>
      <menu-component :menuItems="main.slice(1)" class="main" />
      <menu-component :menuItems="about" class="about" />
    </div>

    <a href="javascript:;" aria-label="Close" class="btn-close" @click="toggleVisibility(false)">
      Close
    </a>
  </aside>
</template>

<script>
import { main, about } from '~/assets/menus.js'
import MenuComponent from '~/components/Menu.vue'
import Logo from '~/components/Logo.vue'

export default {
  components: {
    MenuComponent,
    Logo
  },
  data: () => ({
    main: main,
    about: about
  }),
  methods: {
    toggleVisibility: function (state) {
      this.$emit('navigation', state)
    }
  }
}
</script>

<style lang="scss">
@import '~assets/variables.scss';

#navigation {
  background-color: $colorBg;
  color: $colorFg;
  display: flex;
  left: 0;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  padding: 8vh 12vw;
  position: fixed;
  top: 0;
  text-align: center;
  transform: translate3d(0, -100%, 0);
  transition: 300ms ease-in;
  width: 100%;
  z-index: 6;
  -webkit-overflow-scrolling: touch;

  @media (min-width: $breakpointMedium) {
    padding: 80px 120px;
  }

  body.navigation--visible & {
    transform: translate3d(0, 0, 0);
  }

  .logo {
    margin: 0 auto 2em;
    width: 110px;
    @media (min-width: $breakpointSmall) {
      width: 150px;
    }
  }

  ul {
    list-style-type: none;

    a {
      background-size: auto 10px;
      background-repeat: repeat-x;
      background-position: 0 calc(100% - 1px);
      display: inline-block;
      position: relative;
      color: inherit;
      text-decoration: none;
      text-transform: uppercase;
      padding-top: 6px;
      padding-bottom: 6px;

      &.nuxt-link-exact-active {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' id='Squiggle-svg' xmlns:ev='http://www.w3.org/2001/xml-events' xmlns='http://www.w3.org/2000/svg' width='24' height='12' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 12' style='enable-background:new 0 0 24 12;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:#819529;stroke-width:5;%7D%0A%3C/style%3E%3Cpath class='st0' d='M0,7.3c6,0,6-2.6,12-2.6s6,2.6,12,2.6s6-2.6,12-2.6s6,2.6,12,2.6'/%3E%3C/svg%3E");
      }
    }
  }

  .main {
    font-size: 1.8em;
    font-weight: bold;

    @media screen and (min-height: 700px) {
      font-size: 2.6em;
    }
  }

  .about {
    font-size: 1.5em;
    margin-top: 0.4em;

    @media screen and (min-height: 700px) {
      font-size: 1.8em;
      margin-top: 2em;
    }
  }

  .btn-close {
    color: inherit;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin: 0;
    padding: 8px 12px;
    text-transform: uppercase;
    transform: translateX(-50%);

    @media (min-width: $breakpointMedium) {
      left: auto;
      top: 6px;
      transform: none;
      right: 6px;
    }
  }
}
</style>
