<template>
  <div class="opening-hours">
    <div v-for="(period, i) in openingPeriods" :key="i" v-if="period.current || expandPanel">
      <div class="label">{{ period.label }}</div>
      <div class="hours">{{ period.hoursLabel }}
        <span class="hours-open" v-if="open && !expandPanel">Jezt offen</span>
        <span class="hours-closed" v-if="!open && !expandPanel">Geschlossen</span>
      </div>

    </div>

    <div class="note">
      <small>
        <strong>*Achtung</strong>: Wetterabhängig!</small>
      <small v-show="expandPanel">Bei Regen, Schnee oder sonstigen Unsicherheiten lohnt sich ein Anruf in die Schliessi oder ein Blick auf unsere Facebook-Seite.</small>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      open: false,
      openingPeriods: [
        {
          current: false,
          label: 'Dezember-Februar',
          hoursLabel: 'Mi-So 9:00h - 17:00h',
          month: [0, 1, 11],
          weekdays: [0, 3, 4, 5, 6],
          hoursFrom: 9,
          hoursTo: 17
        },
        {
          current: false,
          label: 'März-Mai',
          hoursLabel: 'Di-So 9:00h - 18:00h',
          month: [2, 3, 4],
          weekdays: [0, 2, 3, 4, 5, 6],
          hoursFrom: 9,
          hoursTo: 18
        },
        {
          current: false,
          label: 'Juni-September',
          hoursLabel: 'Di-So 9:00h - 20:00h oder länger',
          month: [5, 6, 7, 8],
          weekdays: [0, 2, 3, 4, 5, 6],
          hoursFrom: 9,
          hoursTo: 20
        },
        {
          current: false,
          label: 'Oktober-November',
          hoursLabel: 'Di-So 9:00h - 18:00h',
          month: [9, 10],
          weekdays: [0, 2, 3, 4, 5, 6],
          hoursFrom: 9,
          hoursTo: 18
        }
      ]
    }
  },
  props: {
    expandPanel: {
      type: Boolean,
      default: false
    }
  },
  mounted() {
    this.isCurrentlyOpen()
  },
  methods: {
    isCurrentlyOpen: function () {
      let now = new Date()
      this.openingPeriods.forEach((element, index) => {
        if (element.month.includes(now.getMonth())) {
          this.openingPeriods[index].current = true
          if (element.weekdays.includes(now.getDay())) {
            if (now.getHours() >= element.hoursFrom && now.getHours() <= element.hoursTo) {
              this.open = true
              this.$emit('open')
            }
          }
        }
      })
    }
  }
}
</script>

<style scoped lang="scss">
.opening-hours {
  .hours {
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 0.1em;
  }
  .hours-closed,
  .hours-open {
    background-color: #ff5656;
    color: white;
    display: inline-block;
    font-size: 0.65rem;
    padding: 2px 6px;
    margin-left: 10px;
    text-transform: uppercase;
  }
  .note {
    margin-top: 0.6em;
  }
}
</style>
