<template>
  <div>
    <a v-if="href" class="tile-link" :href="href" target="_blank" rel="noopener">
      <slot></slot>
    </a>
    <nuxt-link class="tile-link" v-else :to=to>
      <slot></slot>
    </nuxt-link>
  </div>
</template>

<script>
export default {
  props: {
    href: {
      type: String,
      default: ''
    },
    to: {
      type: String,
      default: ''
    }
  }
}
</script>

<style scoped>
.tile-link {
  color: currentColor;
  display: block;
  text-decoration: none;
}
</style>
