<template>
  <section class="tile" :class="[ 'background--' + backgroundColor, classObject]" :style="backgroundImage ? `background-image: url(/images/${backgroundImage});`:''">
    <div class=" tile-inner ">
      <slot></slot>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    href: {
      type: String,
      default: ''
    },
    backgroundColor: {
      type: String,
      default: ''
    },
    backgroundImage: {
      type: String,
      default: ''
    },
    span: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    classObject: function () {
      return {
        span: this.span,
        'background--image': this.backgroundImage
      }
    }
  }
}
</script>

<style lang="scss">
@import '~assets/variables.scss';

.tile {
  background-color: $colorBgSubtle;
  padding-bottom: 100%;
  position: relative;
  width: 100%;

  &.span {
    padding-bottom: calc(50% - 1.5vw);
  }

  &.center {
    .tile-inner {
      justify-content: center;
    }
  }

  .tile-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    left: 0;
    overflow: auto;
    padding: 8% 6%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    @media screen and (min-width: $breakpointMedium) {
      font-size: 1.2em;
    }

    p {
      margin-bottom: 0.5em;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 0.5em;

      @media screen and (min-width: $breakpointSmall) {
        font-size: 1.6em;
      }
    }

    h3 {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
      width: 100%;

      &:not(.centerpiece) {
        padding: 14px 6%;
      }

      &.centerpiece {
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
        font-family: $fontFamilyBody;
        position: static;
        text-align: center;
      }
    }
  }

  &.background--green {
    background-color: $colorGreen;
    color: white;
  }

  &.background--white {
    background-color: white;
  }

  &.background--brown {
    background-color: $colorBrown;
    color: white;
  }

  &.background--dark {
    background-color: $colorFg;
    color: $colorBg;
  }

  &.background--fb {
    background-color: #3b5998;
    color: white;
  }

  &.background--image {
    background-size: cover;
    background-position: center center;
    color: white;

    &::after {
      background-color: rgba(0, 0, 0, 0.3);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
</style>
