<template>
  <div class="weather">
    <template v-if="weatherData">
      <svg>
        <use :xlink:href="`/images/orion-svg-sprite.svg#${weatherData.weather[0].icon}-1`"></use>
      </svg>
      <span class="temperature">{{ (weatherData.main.temp-273.15).toFixed(1) }}°</span>
    </template>
    <template v-else>
      <a class="reload" :class="{'loading': loading}" href="javascript:;" @click="getWeatherData()">
        <svg>
          <use :xlink:href="`/images/orion-svg-sprite.svg#reload-1`"></use>
        </svg>
      </a>
      <small>Keine Wetterdaten vorhanden.</small>
    </template>
  </div>
</template>

<script>
export default {
  data() {
    return {
      weatherData: '',
      loading: false
    }
  },
  methods: {
    async getWeatherData() {
      this.loading = true

      const data = await this.$axios.$get('https://api.openweathermap.org/data/2.5/weather?lat=47.57808&lon=7.62352&appid=f5633c0b4da856d00b2a8378dbbc6792')
      if (data) {
        this.loading = false
      }
      this.weatherData = data
    }
  },
  mounted: function () {
    this.getWeatherData()
  }
}
</script>

<style lang="scss" scoped>
.weather {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-align: center;

  .temperature {
    font-size: 1.4em;
  }

  .reload {
    color: inherit;
    display: flex;
    justify-content: center;
    width: 50%;

    &.loading {
      > svg {
        animation: rotate 1200ms 300ms linear infinite;
      }
    }
  }

  > svg {
    margin-bottom: 0.4em;
    width: 70%;
  }
}

@keyframes rotate {
  0% {
    transform: scale(1) rotate(0);
  }
  50% {
    transform: scale(1.1) rotate(-180deg);
  }
  100% {
    transform: scale(1) rotate(-360deg);
  }
}
</style>
