$maxPageSize: 980px;
$breakpointMini: 400px;
$breakpointSmall: 600px;
$breakpointMedium: 995px;
$breakpointLarge: 1200px;
$breakpointExtraLarge: 1400px;

$breakpointGrid: 760px;

$colorSubtle: #5d5d5d;

$colorBg: white;
$colorBgSubtle: #f5f5f5;
$colorFg: #333333;
$colorError: rgb(177, 40, 40);

$fontFamilyHeading: 'Noto Serif', serif;
$fontFamilyBody: 'Noto Sans', sans-serif;
$fontSize: 16px;

// Schliessi Colors
$colorGreen: #819529;
$colorBrown: #895b3d;
