<template>
  <div class="boundaries">
    <app-header v-on:navigation="toggleNavigation" />
    <navigation v-on:navigation="toggleNavigation" />
    <nuxt/>
    <app-footer />
  </div>
</template>

<script>
import AppHeader from '@/components/AppHeader.vue'
import AppFooter from '@/components/AppFooter.vue'
import Navigation from '@/components/Navigation.vue'
import _ from 'underscore'

export default {
  components: {
    AppHeader,
    AppFooter,
    Navigation
  },
  data: () => ({
    navigationVisibility: false
  }),
  methods: {
    toggleNavigation: function (state) {
      this.navigationVisibility = state
    }
  },
  watch: {
    navigationVisibility() {
      var self = this

      if (this.navigationVisibility) {
        this.savedScrollTop = window.scrollY
        document.body.classList.add('navigation--visible')

        _.delay(function () {
          document.body.classList.add('noScroll')
        }, 300)
      } else {
        document.body.classList.remove('noScroll', 'navigation--visible')
        _.defer(function () {
          window.scrollTo(0, self.savedScrollTop)
        })
      }
    },

    $route: function () {
      this.navigationVisibility = false
    }
  }
}
</script>


<style lang="scss">
@import '~assets/variables.scss';

html {
  color: $colorFg;
  font-family: $fontFamilyBody;
  font-size: $fontSize;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  background-color: $colorBg;
  padding: 2%;

  &.noScroll {
    overflow: auto;
    height: 100%;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img,
svg {
  display: block;
  max-height: 100%;
  max-width: 100%;
}

h1,
h2 {
  font-family: $fontFamilyHeading;
}

h3 {
  font-size: 1.4em;
  text-transform: uppercase;
}

.boundaries {
  flex-basis: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: $maxPageSize;

  @media (min-width: $breakpointMedium) {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.page {
  background-color: $colorBgSubtle;
  margin-bottom: 5%;
  padding: 7vw 3vw;

  h1 {
    margin-bottom: 1.2em;
  }

  h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
}

.grid {
  display: grid;
  grid-gap: 3vw;
  grid-template-columns: 1fr;

  @media screen and (min-width: $breakpointGrid) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: $breakpointLarge) {
    grid-gap: 40px;
  }

  > .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid-item-span {
    grid-column-start: 2 span;
  }
}
</style>
