<template>
  <div class="page">
    <h1>Offsites @ Schliessi</h1>
    <events expanded />
    <contact />
  </div>
</template>

<script>
import Contact from '@/components/Address.vue'
import Events from '@/components/Events.vue'

export default {
  components: {
    Contact,
    Events
  }
}
</script>

<style scoped>

</style>
