<template>
  <div class="index grid">
    <tile class="tile-contact" backgroundColor="green" v-scroll-reveal>
      <div>
        <h2>Öffnungszeiten*</h2>
        <opening-hours />
      </div>
      <div>
        <h2>Kontakt</h2>
        <contact short />
      </div>
    </tile>

    <div class="grid">
      <tile-link class="tile-menu grid-item-span" href="/" v-scroll-reveal="{ delay: 200 }">
        <tile class="center" span backgroundImage="menu.jpg">
          <h3 class="centerpiece">
            Menu
          </h3>
        </tile>
      </tile-link>

      <tile backgroundColor="dark" class="tile-weather center" v-scroll-reveal="{ delay: 400 }">
        <h4>Wetter</h4>
        <weather />
      </tile>

      <tile-link class="tile-facebook" href="https://www.facebook.com/RestaurantBuvetteSchliessi/" v-scroll-reveal="{ delay: 600 }">
        <tile class="center" backgroundColor="fb">
          <svg class="centerpiece">
            <use xlink:href="/images/orion-svg-sprite.svg#facebook-1"></use>
          </svg>
        </tile>
      </tile-link>
    </div>

    <tile-link class="tile-gallery" to="/impressionen" title="Impressionen" v-scroll-reveal>
      <tile class="center" backgroundImage="impressionen.jpg">
        <div class="actions">
          <div class="button button--icon button-link-back">
            <svg>
              <use :xlink:href="`/images/orion-svg-sprite.svg#angle-right-1`"></use>
            </svg>
          </div>
          <div class="button button--icon button-link-forward">
            <svg>
              <use :xlink:href="`/images/orion-svg-sprite.svg#angle-right-1`"></use>
            </svg>
          </div>
        </div>
      </tile>
    </tile-link>

    <tile-link class="tile-map" href="https://goo.gl/maps/t54EaMvN8dr" title="Anfahrt" v-scroll-reveal="{ delay: 200 }">
      <tile class="center" backgroundImage="map.jpg">
        <svg class="centerpiece">
          <use xlink:href="/images/orion-svg-sprite.svg#pin-1"></use>
        </svg>
        <svg class="car" title="Fahrverbot">
          <use xlink:href="/images/orion-svg-sprite.svg#sedan-1"></use>
        </svg>
      </tile>
    </tile-link>

    <tile class="tile-events" backgroundColor="brown" v-scroll-reveal>
      <events />
      <nuxt-link to="/kontakt" class="button button--icon more">
        <svg>
          <use :xlink:href="`/images/orion-svg-sprite.svg#angle-right-1`"></use>
        </svg>
      </nuxt-link>
    </tile>

    <tile-link class="tile-about" to="ueber-uns" v-scroll-reveal="{ delay: 200 }">
      <tile class="center" backgroundImage="about.jpg">
        <h3 class="title">
          Über Uns
        </h3>
      </tile>
    </tile-link>

    <div class="grid" v-scroll-reveal>
      <tile class="center tile-info" backgroundColor="green">
        <h4>Im Kleinbasel?</h4>
        <p>Das Schliessi Team begrüsst Sie neu auch im Wilden Mann.</p>
      </tile>

      <tile-link class="tile-wild-man" href="https://www.restaurant-zumwildenmann.ch/">
        <tile class="center" backgroundColor="white">
          <img src="/images/logo-zum-wilden-mann.jpg" alt="Zum Wilden Mann">
        </tile>
      </tile-link>

      <tile-link class="tile-decorus" href="https://www.decorusgmbh.ch/">
        <tile class="center">
          <img src="/images/decorus-logo.png" alt="Decorus">
        </tile>
      </tile-link>

      <tile class="center tile-info decorus" backgroundColor="brown">
        <h4>Im Hintergrund</h4>
        <p>Die einfachen Dinge im Leben sind oftmals die Schönsten.</p>
      </tile>
    </div>

    <tile-link class="tile-jobs" to="offene-stellen" v-scroll-reveal="{ delay: 200 }">
      <tile class="center" backgroundImage="job-opening.jpg">
        <svg class="centerpiece">
          <use xlink:href="/images/orion-svg-sprite.svg#chef-hat-2"></use>
        </svg>
        <h3 class="title">
          Offene Stellen
        </h3>
      </tile>
    </tile-link>
  </div>
</template>

<script>
import Tile from '@/components/Tile.vue'
import TileLink from '@/components/TileLink.vue'
import Contact from '@/components/Address.vue'
import Weather from '@/components/Weather.vue'
import OpeningHours from '@/components/OpeningHours.vue'
import ButtonLink from '@/components/ButtonLink.vue'
import Events from '@/components/Events.vue'

export default {
  components: {
    Tile,
    TileLink,
    Contact,
    Weather,
    OpeningHours,
    ButtonLink,
    Events
  }
}
</script>

<style lang="scss">
@import '~assets/variables.scss';

.index {
  padding-bottom: 3vw;

  .tile-link {
    transition: 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

    .centerpiece {
      transition: 200ms cubic-bezier(0.175, 0.885, 0.32, 1.875);
    }

    &:hover {
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
      transform: translate3d(0, -2px, 0);

      .centerpiece {
        transform: scale(1.1);
      }
    }
  }

  .tile-menu {
    h3 {
      font-size: 4em;
    }
  }

  .tile-gallery {
    h3 {
      font-size: 2.3em;
    }
    .actions {
      bottom: 0;
      display: flex;
      left: 0;
      position: absolute;

      .button {
        margin: 0;

        &.button-link-back {
          transform: rotate(180deg);
        }
      }
    }
  }

  .tile-map {
    .tile-inner {
      align-items: center;
    }

    .centerpiece {
      top: -10%;
      position: relative;
      width: 30%;
    }

    .car {
      position: absolute;
      height: 50px;
      width: 50px;
      bottom: 10px;
      right: 10px;
    }
  }

  .tile-weather {
    h4 {
      margin: 0;
      font-size: 0.9em;
    }
  }

  .tile-facebook {
    .tile {
      padding-bottom: 100%;

      .tile-inner {
        align-items: center;
      }
    }

    svg {
      width: 70%;
    }
  }

  .tile-contact {
    .tile-inner {
      display: flex;
      flex-direction: column;

      .hours {
        font-size: 1.1em;
      }

      > div {
        justify-content: center;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }
    }
  }

  .tile-events {
    .tile-inner {
      .events {
        margin-top: -1em;
      }

      .button {
        bottom: 0;
        position: absolute;
        right: 0;
      }
    }
  }

  .tile-jobs {
    .tile-inner {
      align-items: center;
    }

    .centerpiece {
      width: 30%;
    }
  }

  .tile-decorus {
    .tile {
      border: 1px solid $colorBrown;
    }
  }

  .tile-wild-man {
    .tile {
      border: 1px solid $colorGreen;
    }
  }

  .tile-info {
    position: relative;

    &::after {
      content: '';
      background-color: $colorGreen;
      height: 2px;
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translate3d(0, -50%, 0);
      width: 3vw;
    }

    &.decorus {
      &::after {
        left: auto;
        right: 100%;
        background: $colorBrown;
      }
    }

    h4 {
      margin-top: 0;
      margin-bottom: 0.5em;
    }

    p {
      margin: 0;
    }
  }
}
</style>
