<template>
  <div class="page">
    <h1>Kontakt und Öffnungszeiten</h1>
    <contact />
    <h2>Öffnungszeiten*</h2>
    <opening-hours expandPanel />
  </div>
</template>

<script>
import Contact from '@/components/Address.vue'
import OpeningHours from '@/components/OpeningHours.vue'

export default {
  components: {
    Contact,
    OpeningHours
  }
}
</script>

<style scoped>

</style>
