<template>
  <div class="page">
    <h1>Über uns</h1>
    <p>Die einfachen Dinge im Leben sind oftmals die Schönsten. Darauf legen wir grossen Wert. Unsere Leidenschaft sieht man nicht nur beim Betreten der Schliessi, man schmeckt und riecht sie auch. Unsere Freude für das Gute, die Hausmannskost und die vergessenen Gerichte, soll auf Sie überspringen. Mit viel Liebe zum Detail, dem Einbeziehen von lokalen Geschäften und saisonalen Waren, erfinden wir das Rad nicht neu, zaubern jedoch mit der Freude an der Einfachheit, eine einladende Atmosphäre.</p>
    <p>Bei uns empfängt Sie immer jemand mit einem Lächeln und wenn Sie schon mal da waren, dann wissen wir das beim nächsten Besuch auch zu schätzen.</p>
    <p>Wir freuen uns auf Ihren Besuch!</p>
    <p>Marco Mazzotti und Andrea Marty</p>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>

</style>
